@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DM-Medium";
  src: url(./assets/fonts/InterTight-VariableFont_wght.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "DM-SemiBold";
  src: url(./assets/fonts/InterTight-VariableFont_wght.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "IBM-Mono";
  src: url(./assets/fonts/IBMPlexMono-Medium.ttf);
}

body {
  @apply bg-[#F6F5F5] min-h-screen font-dm-medium tracking-tighter;
}